body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  min-height: 70vh;
  display: grid;
  place-items: center;
}

#caja_coloreada {
  background-color: #ffffff;
  border: 5px #000000 solid;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 20px;
}

#casilla_de_botones {
  display : grid;
  margin : 0;
  place-items : 10;
}

.boton {
  background-color: blue;
  color: white;
  min-height: 40px;
  min-width: 200px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.boton:hover {
  background-color: aqua;
  color:black;
  transition-duration: 0.3s;
}

#selector_de_colores {
  min-height: 50px;
  min-width: 200px;
}